[run]
branch = True

omit =
    */migrations/*
    **/__init__.py
    */tests.py
    accounting/*
    core/management/*
source =
    accounts
    core
    creditcards
    entries
    events
    fiscalyears
    receipts
    reports
