*{
	margin:0;
	padding:0;
}

html{
	font-size:medium;
}
html,body{
	background-color: #D8ECC3;
}
.fl {
	float: left;
}
.cb {
	clear: both;
}
.bn {
	border: none;
}
a {
	color: #1C4905;
}
a:visited {
	color: #47741A;
}
#main{
	font-size: .95em;
	margin: 0 auto;
	height: 100%;
	width: 1200px;
	background-color: #E9F7EB;
}
.bannerIEPadder, .sidebarIEPadder, .contentIEPadder{
    padding:10px;   
}
.footerIEPadder{
    padding:5px;
}
#banner{
    width:1200px;height:1.55em;
    background-color: #47741A;
    color:White;
    font-size:2em;
    font-weight:bold;
    position:relative;
}
div.cart_box{
    position:absolute;
    top:10px;
    right:10px;
    font-size:medium;
}
div.cart_box a{
    color:white;
}
#navigation{
    width:1200px;
    height:auto;
    background-color: #1C4905;
    text-align: center;
}
#navigation ul{
    list-style:none;    
}
#navigation ul li{
    float:left;
    color:White;
    border-right: 1px solid White;
    padding: 5px 8px;
}
#navigation ul li:hover{
	color: White;
	background-color: #47741A;
}
#navigation ul li a{
    color:White;
    font-weight:bold;
    text-decoration:none;
}
#sidebar{
    width:165px;
    float:left;;
}
#content{
    width:1035px;
    float:left;
}
#footer{
    clear:both;
    background-color: #1C4905;
    color:White;
    text-align:center;
}
a.skip_link{
    position:absolute;
    left:-1200px;
    top:-1200px;
}

/** Error Messages **/
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: .7em;
    margin: 0 0 2px;
    padding: 2px 2px;
    font-weight: bold;
    text-align: center;
}
ul.parsley-error-list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: Red;
	font-size:.7em;
	font-weight: bold;
}

.helptext {
	color: Blue;
	font-size: .7em;
	display:inline;
}

/** Quick Account Search **/
#quick_search {
	width: 100%;
}

/** Sidebar  **/
#sidebar {
	padding-top: 8px;
}
#sidebar ul {
	list-style: none;
	padding-bottom: 15px;
}
#sidebar ul li {
	padding: 2px 0px;
}


/** Chart of Accounts **/
table#accounts_chart{
	width:100%;
	border: 1px;
	border-collapse:collapse;
}
h1,caption{
	text-align: left;
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 5px;
	color: Black;
}
.header{
	color: White;
	background-color: Black;
}
.header a{
	color: White;
}
th,td{
	text-align:left;
	padding: 3px 15px 3px 15px;
}
thead th{
	color:White;
	background-color: #47741A;
}
tbody .main{
	background-color: #E9F7EB;
}
tbody .main a{
	color: Black;
}
tbody .alt{
    background-color: #B2D6B2;
}
tbody .alt a{
	color: Black;
}
table#accounts_chart th.right, td.right{
	text-align: right;
}
table#accounts_chart th.center, td.center{
	text-align: center;
}
table#accounts_chart tr:hover{
	background-color: #1C4905;
	color: #E9F7EB;
}
table#accounts_chart tr:hover a{
	color: White;
}
table#accounts_chart a{
	text-decoration: none;
}
table#accounts_chart tr.clickable{
	cursor: pointer;
}