{% extends "base.html" %}

{% load accounting_filters %}
{% load accounting_tags %}

{% block site_wrapper %}
  <div id="main">
    <a href="#content" class="sr-only">Skip to main content</a>
    <noscript>
      <div id="noscript">Some parts of {{ site_name }} require Javascript</div>
      <div id="noscript_padder"></div>
    </noscript>

    {% include 'tags/navigation.html' %}

    <div id="content" class="container">
      <div class="page-header">
        {% block page_header %}{% endblock %}
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissable alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            <strong>{{ message.tags|capwords }}: </strong>{{message}}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
