{% extends "site.html" %}

{% load accounting_filters %}


{% block title %}Account History - {{ date|date:"m/Y" }}{% endblock %}


{% block page_header %}
  <h1>Account History <small>{{ date|date:"m/Y" }}</small></h1>
{% endblock %}


{% block content %}

<ul class="pager">
  <li class="previous {% if not has_previous %}disabled{% endif %}">
    <a href="{% if has_previous %}.?previous={% endif %}">Previous</a>
  </li>
  <li class="next {% if not has_next %}disabled{% endif %}">
    <a href="{% if has_next %}.?next={% endif %}">Next</a>
  </li>
</ul>

{% if accounts %}

  <!-- Tabs -->
  <ul class="nav nav-tabs">
    <li><a href="#balance" data-toggle="tab">Balances</a></li>
    <li><a href="#profit-loss" data-toggle="tab">Profit & Loss</a></li>
  </ul>

  <!-- Panes -->
  <div class="tab-content">
    {% for account in accounts %}
      {% ifchanged account.type %}
      <!-- Pane and Table setup/closing -->
        {% if account.type == 1 %}
          <div class="tab-pane fade active in" id="balance">
        {% endif %}
        {% if account.type == 4 %}
          </tbody>
          </table>
          </div>
          <div class="tab-pane fade" id="profit-loss">
        {% endif %}
        {% if account.type == 1 or account.type == 4 %}
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th scope="col">Number</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody>
        {% endif %}
      {% endifchanged %}
      <!-- Historical Account rows -->
      <tr class="{% cycle 'main' 'alt' %}">
        <td>{{ account.number }}</td>
        <td>{{ account.name }}</td>
        <td class="text-right">{{ account.get_amount|currency }}</td>
      </tr>
      {% if forloop.last %}
        </tbody>
        </table>
        </div>
      {% endif %}
    {% endfor %}
</div>
{% else %}
  <p>No Account History found. Account History is available after completing a Financial Year.</p>
{% endif %}
<br /><br />

{% endblock %}
