{% extends "site.html" %}

{% load accounting_filters %}

{% block title %}{{ account.name|capwords }} Register{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}parsley.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}parsley.extend.js"></script>

<h2>{{ account.name|capwords }} - Register</h2>
<h3>{{ start_date }} - {{ stop_date }}</h3>
<form data-validate="parsley" action="." method="GET">
    <table>
        {{ form.as_table }}
        <tr><th></th><td><input type="submit" value="Submit" ></td></tr>
    </table>
</form>
<br />
<table summary="Bank Register: {{ account.name }}" id="accounts_chart">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Account</th>
        <th scope="col">Detail</th>
        <th scope="col" class="right">Debit</th>
        <th scope="col" class="right">Credit</th>
        <th scope="col" class="right">Event</th>
    </tr>
    </thead>
{% for transaction in transactions %}
    <tbody>
    <tr class="header clickable">
        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.get_entry_number }}</a></td>
        <td>{{ transaction.date|date:"m/d/Y" }}</td>
        <td>{{ transaction.get_memo|capwords }}</td>
        {% if transaction.balance_delta < 0 %}
            <td class="right">{{ transaction.balance_delta|currency }}</td>
            <td class="right"></td>
        {% else %}
            <td class="right"></td>
            <td class="right">{{ transaction.balance_delta|currency }}</td>
        {% endif %}
        <td></td>
    </tr>
    {% for account_transaction in transaction.get_journal_entry.transaction_set.all.select_related %}
        <tr class="{% cycle 'main' 'alt' %} clickable">
            <td></td>
            <td><a href="{{ account_transaction.account.get_absolute_url }}">{{ account_transaction.account }}</a></td>
            <td>{{ account_transaction.detail }}</td>
            {% if account_transaction.balance_delta < 0 %}
                <td class="right">{{ account_transaction.balance_delta|currency }}</td>
                <td class="right"></td>
            {% else %}
                <td class="right"></td>
                <td class="right">{{ account_transaction.balance_delta|currency }}</td>
            {% endif %}
            <td class="right">{% if transaction.event %}<a href="{{ transaction.event.get_absolute_url }}">{{ transaction.event }}</a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endfor %}
</table><br /><br />
{% endblock %}
