{% extends "site.html" %}

{% load accounting_filters %}

{% block title %}{{ journal_entry.memo|capwords }} - {{ main_transaction.account|capwords }}{% endblock %}

{% block content %}
<h1>{{ journal_entry.date|date:"m/d/Y" }} - {{ main_transaction.account }}: {{ journal_entry.memo|capwords }}</h1>
<h2>{{ journal_entry.get_number }} - Payee: {{ journal_entry.payee }} - Amount: {{ main_transaction.balance_delta|currency }}</h2><br/>
Created: {{ journal_entry.created_at|date:"m/d/Y" }} {% if updated %}Updated: {{ journal_entry.updated_at|date:"m/d/Y" }}{% endif %}<br />
<a href="{{ journal_entry.get_edit_url }}">Edit</a>
<br /><br />
<table summary="{{ account.name }} Details" id="accounts_chart">
    <thead>
    <tr>
        <th scope="col">Account</th>
        <th scope="col">Detail</th>
        <th scope="col" class="right">Amount</th>
        <th scope="col" class="right">Event</th>
    </tr>
    </thead>
    <tbody>
{% for transaction in transactions %}
    <tr class="{% cycle 'main' 'alt' %} clickable">
        <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
        <td>{{ transaction.detail|capwords }}</td>
        <td class="right">{{ transaction.balance_delta|currency }}</td>
        <td class="right">{{ transaction.event|default_if_none:"" }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br /><br />
{% endblock %}