{% extends 'site.html' %}

{% block title %}
{% if journal_type == 'CR' %}Add Bank Receiving Entry
{% else %}{% if journal_type == 'CD' %}Add Bank Spending Entry
{% else %}Add Journal Entry
{% endif %}{% endif %}{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/jquery.formset.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}parsley.js"></script>
<script type="text/javascript">
    /* Add extra Transaction rows using jQuery-Formsets */ 
    $(function() {
        $('#accounts_chart tbody tr').formset({
            prefix: '{{ transaction_formset.prefix }}',
            extraClasses: ['main','alt'],
            deleteText: '<input data-group="delete" type="checkbox" align="middle">',
            deleteCssClass: 'delete-row',
            added: addActions,
            removed: removeRow});
    })
</script>
<h1>Add a Journal Entry</h1>

<form data-validate="parsley" action="." method="POST" id="entry_form">
{% csrf_token %}
<div id="add_entry">
<table id="entry">
    {{entry_form}}
</table>
<ul class="errorlist">
{% for error in transaction_formset.non_form_errors %}
    <li>{{ error }}</li>
{% endfor %}
</ul><!-- 
{% for dict in transaction_formset.errors %}
    <ul class="errorlist">
    {% for error in dict.values %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endfor %} -->
<table id="accounts_chart">
{{ transaction_formset.management_form }}
{% for form in transaction_formset %}
    {% if forloop.first %}
    <thead><tr>
        {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
        {% endfor %}
    </tr></thead>
    {% endif %}
    <tr class="{% cycle main,alt %}">
    {% for field in form.visible_fields %}
        <td>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
    <tfoot>
    {% if journal_type == 'GJ' %}
        <tr class="summary">
            <td></td>
            <td class="right">Total:</td>
            <td id="debit_total"></td>
            <td id="credit_total"></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="out_of_balance">
            <td></td>
            <td class="right">Out of Balance:</td>
            <td id="debit_oob"></td>
            <td id="credit_oob"></td>
            <td></td>
            <td></td>
        </tr>
    {% else %}
    {% if journal_type == 'CR' or journal_type == 'CD' %}
        <tr class="summary">
            <td></td>
            <td class="right">Total:</td>
            <td id="amount_total"></td>
            <td ></td>
            <td></td>
        </tr>
        <tr class="out_of_balance">
            <td></td>
            <td class="right">Out of Balance:</td>
            <td id="amount_oob"></td>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
    {% endif %}
    </tfoot>
</table>
<br />
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="submit" value="Submit & Add More" />
{% if entry_form.instance.pk %}

<input class="delete" type="submit" name="submit" value="Delete" /">
{% endif %}
<br />
</div>
</form>
{% if journal_type == 'GJ' %}
    <script type="text/javascript">
    /* Update Total and Out of Balance amounts on input change or delete */
    $(document).ready(function() {
        newSum();
        addActions();
        $(".credit").each(function() {
            var that = this;
            assignRequired.call(that);
        });
    });
    function addActions(){
        $(".credit").each(function() {
            var that = this; // fix a reference to the <input> element selected
            $(this).keyup(function(){
                newSum.call(that);
            });
            $(this).blur(function(){
                assignRequired.call(that);
            });
        });
        $(".debit").each(function() {
            var that = this;
            $(this).keyup(function(){
                newSum.call(that);
            });
            $(this).blur(function(){
                assignRequired.call(that);
            });
        });
    }
    function assignRequired() {
        /* Add validation for Account widget if debit or credit is entered */
        $acct = $(this).closest('tr').find('select');
        $credit = $(this).closest('tr').find('.credit').val();
        $debit = $(this).closest('tr').find('.debit').val();
        if ((($debit.length != 0) || ($credit.length != 0)) && $acct.is(':visible')) {
            $('#entry_form').parsley('addItem', $acct);
        } else {
            $('#entry_form').parsley('removeItem', $acct);
        }
    }
    function newSum() {
        /* Recalculate and Set Total and Out of Balance Counters */
        var credit_sum = 0;
        $(".credit").filter(":visible").each( function(){
            if(!isNaN(this.value) && this.value.length != 0) {
                credit_sum += parseFloat(this.value);
            }
        });
        $('#credit_total').text('$' + credit_sum.toFixed(2));
        var debit_sum = 0;
        $(".debit").filter(":visible").each( function(){
            if(!isNaN(this.value) && this.value.length != 0) {
              debit_sum += parseFloat(this.value);
            }
        });
        $('#debit_total').text('($' + debit_sum.toFixed(2) + ')');
        if(debit_sum > credit_sum) {
            $('#debit_oob').text('');
            $('#credit_oob').text('$' + (debit_sum - credit_sum).toFixed(2));
        } else if (credit_sum > debit_sum) {
            $('#debit_oob').text('($' + (credit_sum - debit_sum).toFixed(2) + ')');
            $('#credit_oob').text('');
        } else {
            $('#debit_oob').text('$0.00');
            $('#credit_oob').text('$0.00');
        }
    }
    function removeRow(row) {
        /* Remove validation from deleted rows and recalculate counters */
        $acct = $(row).find('select');
        $('#entry_form').parsley('removeItem', $acct);
        newSum();
    }
    </script>
{% else %}
{% if journal_type == 'CR' or journal_type == 'CD' %}
{% comment %}
    Exclude transfer entries
{% endcomment %}
    <script type="text/javascript">
    /* Update Total and Out of Balance amounts on input change or delete */
    $(document).ready(function() {
        newSum();
        addActions();
        $(".amount").each(function() {
            var that = this;
            assignRequired.call(that);
        });
    });
    function addActions(){
        $(".amount").each(function() {
            var that = this;
            $(this).keyup(function(){
                newSum.call(that)
            });
            $(this).blur(function(){
                assignRequired.call(that)
            });
        });
        $(".account").each(function() {
            var that = this;
            $(this).blur(function(){
                assignRequired.call(that)
            });
        });
        $("#entry_amount").keyup(function(){newSum()});
    }
    function assignRequired() {
        /* Set Account and Amount widgets to required if either is set */
        $acct = $(this).closest('tr').find('select');
        $amount = $(this).closest('tr').find('.amount');
        if (($amount.val().length != 0 || $acct.val().length != 0) && $acct.is(':visible')) {
            $('#entry_form').parsley('addItem', $acct);
            $('#entry_form').parsley('addItem', $amount);
        } else {
            $('#entry_form').parsley('removeItem', $acct);
            $('#entry_form').parsley('removeItem', $amount);
        }
    }
    function newSum() {
        /* Recalculate and Set Total and Out of Balance Counters */
        var amount_sum = 0;
        $(".amount").filter(":visible").each( function(){
            if(!isNaN(this.value) && this.value.length != 0) {
            amount_sum += parseFloat(this.value);
            }
        });
        var entry_amount = 0;
        if(!isNaN(parseFloat($("#entry_amount").val()))) {
            entry_amount = parseFloat($("#entry_amount").val());
        }
        $('#amount_total').text('$' + amount_sum.toFixed(2));
        if(entry_amount >= amount_sum) {
            $('#amount_oob').text('$' + (entry_amount - amount_sum).toFixed(2));
        } else {
            $('#amount_oob').text('($' + (amount_sum - entry_amount).toFixed(2) + ')');
        }
    }
    function removeRow(row) {
        /* Remove validation from deleted rows and recalculate counters */
        $acct = $(row).find('select');
        $amount = $(row).find('.amount');
        $('#entry_form').parsley('removeItem', $acct);
        $('#entry_form').parsley('removeItem', $amount);
        newSum();
    }
    </script>
{% endif %}
{% endif %}

{% if entry_form.instance.pk %}
<div id="dialog-confirm" title="Delete Entry?">
<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>This Entry and it's Transactions will be permanently deleted and cannot be recovered. Are you sure?
</div>
<script type="text/javascript">
/* Delete button confirmation using jquery-ui */
    var currentForm;
    $(function() {
        $("#dialog-confirm").dialog({
            resizable: false,
            width: 350,
            modal: true,
            autoOpen: false,
            closeOnEscape: true,
            buttons: {
                'Delete': function() {
                    $(this).dialog('close');
                    currentForm.submit();
                },
                'Cancel': function() {
                    $(this).dialog('close');
                }
            }
        });
        $(".delete").click(function() {
          currentForm = $(this).closest('form');
          $("#dialog-confirm").dialog('open');
          return false;
        });
    });
</script>
 {% endif %}
{% endblock %}
