{% extends 'site.html' %}

{% block title %}New Fiscal Year{% endblock title %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}parsley.js"></script>


<h1>Start a New Fiscal Year</h1>

<div class="alert alert-error alert-block">
    <strong>Warning!</strong> Starting a new Fiscal Year will cause mass
    deletion of Journal Entries and Transactions.
    <br />
    Please backup your data before proceeding.
    <br /><br />
    After starting a new Year, you will not be able to edit or create Journal
    Entries in the current Year.
</div>
<br />
Starting a new Fiscal Year involves:
<br />
<ol>
    <li>Creating Account Histories for every month in the current Fiscal
    Year.</li>
    <li>Deleting all Journal Entries in the current Year that do not have
    unreconciled Transactions for Accounts in the Exclude list.</li>
    <li>Zeroing the balance of all Income, Cost of Sales, Expense, Other
    Income and Other Expense Accounts.</li>
    <li>Moving the current Year's balance of the Current Year Earnings
    Equity Account into the Retained Earnings Equity Account.</li>
</ol>
<br /><br />
If this is your first Fiscal Year, no Journal Entries will be purged and no
Historical Accounts will be created. The warnings and benefits only apply to
subsequent Fiscal Years.
<br /><br />
You can start a short Fiscal Year by changing the ending month of the new Year.
<br /><br />
It is always possible to switch from a 12 month period to a 13 month period.
However, if switching from a 13 month period to a 12 month period, there
must be no Transactions in the 13th month of the current Year.
<br />

<form data-validate="parsley" action="." method="POST" id="fiscal_year_form"
    name="fiscal_year_form">
  {% csrf_token %}
  <table id="fiscal_year">
      {% if previous_year %}
      <ul class="errorlist">
      {% for error in fiscal_year_form.non_form_errors %}
          <li>{{ error }}</li>
      {% endfor %}
      </ul>
      <thead>
          <tr>
              <th></th>
              <th>Current Year</th>
              <th>New Year</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th><label for="id_year">Year:</label></th>
              <td>{{ previous_year.year }}</td>
              <td>{{ fiscal_year_form.year }}{{ fiscal_year_form.year.errors }}</td>
          </tr>
          <tr>
              <th><label for="id_end_month">End month:</label></th>
              <td>{{ previous_year.get_end_month_display }}</td>
              <td>{{ fiscal_year_form.end_month }}{{ fiscal_year_form.end_month.errors }}</td>
          </tr>
          <tr>
              <th><label for="id_period">Period:</label></th>
              <td>{{ previous_year.get_period_display }}</td>
              <td>{{ fiscal_year_form.period }}{{ fiscal_year_form.period.errors }}</td>
          </tr>
      </tbody>
      {% else %}
      {{ fiscal_year_form }}
      {% endif %}
  </table>
  <br />
  <br />
  Select the Accounts you reconcile regularly to prevent deletion of their
  unreconciled Transactions. Accounts that have been reconciled are selected
  by default.
  <br />
  <br />
  {{ accounts_formset.management_form }}
  <table id="accounts_chart">
    <thead>
      <tr>
        <th>Exclude</th>
        <th>Account</th>
        <th>Last Reconciled</th>
      </tr>
    </thead>
    <tbody>
      {% for form in accounts_formset %}
      <tr class="{% cycle 'main' 'alt' %}">
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <td>{{ form.visible_fields.0 }}</td>
        <td>{{ form.instance.name }}</td>
        <td>{{ form.instance.last_reconciled|date:"m/d/y"|default_if_none:"" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br \>
  <input type="hidden" name="confirm" id="confirm" />
  <input type="submit" class="submit" name="submit" value="Start New Year" />
</form>

<script type="text/javascript">
    /* Submission confirmation */
    $(function() {
        $('#fiscal_year_form').submit(function(e) {
            return confirm("Are you sure you want to start a new Fiscal Year? " +
                "Closing the current Year will delete all its Journal Entries " +
                "and prevent creation of new Entries.");
        });
    });
</script>
{% endblock content %}
