{% load compress staticfiles %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="ltr"
    xml:lang="{% firstof LANGUGE_CODE 'en' %}"
    lang="{% firstof LANGUGE_CODE 'en' %}">
    <head>
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - {{ config.NAME }}</title>
        {% compress css %}
        <link rel="Stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="Stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
        <link rel="Stylesheet" type="text/css" href="{% static 'css/selectize.css' %}" />
        <link rel="Stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}" />
        <link rel="Stylesheet" type="text/css" href="{% static 'css/pageguide.min.css' %}" />
        <link rel="Stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
        {% block extra_css %}{% endblock %}
        {% endcompress %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block site_wrapper %}{% endblock %}
        {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pageguide.min.js' %}"></script>
        <script type="text/javascript">
            // A global variable containing accounts for ajax selects
            accounts_array = {{ accounts_json|safe }};
            accountSelectizeOptions = {
              options: accounts_array,
              selectOnTab: true,
              allowEmptyOption: true,
              sortField: 'text',
              searchField: ['text', 'description'],
              render: {
                option: function(data, escape) {
                  return '<div class="option">' +
                  '<span class="text">' + escape(data.text) + '</span>' +
                  '<span class="description">' + escape(data.description) + '</span>' +
                  '</div>';},
              },
              load: function(query, callback) {
                  if (!query.length) return callback();
                  $.ajax({
                    url: '{% url accounts_query %}',
                    type: 'GET',
                    data: {q: query},
                    error: function() { callback(); },
                    success: function(res) {
                        callback(res.content);
                    }
                  });
                },
              onItemAdd: function() {
                /* Blur the original input when selecting an item */
                $(this).prev().find('input').blur();
              },
            }
            $(document).ready(function() {
                // Turn Select Widgets for Accounts into AJAX Autocompletes
                $('#id_quick_account .account-autocomplete').selectize(
                    accountSelectizeOptions);
                $('.autocomplete-select').selectize();
                // Allow the user to click anywhere in a row to visit the link
                $('tr.clickable').click(function() {
                    var href = $(this).find("a").attr("href");
                    if(href) {
                        window.location = href;
                        $(this).addClass("clickable");
                    }
                });
                // When clicked, redirect to the Trial Balance Report
                $('#trial-balance-link').on('click', function () {
                    window.location = "{% url reports.views.trial_balance_report %}";
                });
                $('#profit-loss-link').on('click', function () {
                    window.location = "{% url reports.views.profit_loss_report %}";
                });
            });
        </script>
        {% block javascript %}{% endblock %}
        {% endcompress %}
    </body>
</html>
