{% extends "base.html" %}

{% load core_filters %}
{% load core_tags %}

{% block site_wrapper %}
  <div id="main">
    <a href="#content" class="sr-only">Skip to main content</a>
    <noscript>
      <div id="noscript">Some parts of {{ site_name }} require Javascript</div>
      <div id="noscript_padder"></div>
    </noscript>

    {% include 'tags/navigation.html' %}

    <div id="content" class="container">
      <div class="visible-print text-center">
        <h3>{{ config.COMPANY }}</h3>
        <h4>{{ config.ADDRESS }}<br />
            {{ config.CITY_STATE_ZIP }}<br />
            {{ config.PHONE }}</h4>
      </div>

      <div class="page-header">
        {% block page_header %}{% endblock %}
      </div>

      {% block post_header %}{% endblock %}

      {% include 'messages.html' %}

      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
