/* Chart of Accounts */
.header, .header a {
  color: White;
  background-color: #333333;
}
.header:hover, .header:hover a {
  color: #333333;
  background-color: #bbeebb;
  text-decoration: none;
}

/* Table Striping */
.main a, .alt a { color: #333333; }
.main a:hover, .alt a:hover { text-decoration: none; }
.alt { background-color: #D9D9D9; }

/* Make Table Scrollable */
#fiscal-year-accounts {
  height: 500px;
  overflow: auto;
}

/* For making clickable/markable rows appear clickable */
.clickable, .markable { cursor: pointer; }

/* Fix Bootstrap3 navbar spacing */
body { padding-top: 30px; }

/* Fix Selectize dropdowns in navbar
 *
 * These are the maximum values possible without causing a double
 * navbar in Chrome
 *
 */
#id_quick_account .selectize-control { width: 178px; }
#id_quick_bank .selectize-control { width: 197px; }

/* Darken Headers of Dropdown Menus */
.dropdown-header {
  background-color: #333;
  color: white;
}

/* Properly align Selectize inputs in tables */
#transaction-table div.selectize-input {
  vertical-align: middle;
}
/* Prevent empty Selectize account widgets from being tiny */
.account, .source, .destination {
  min-width: 200px;
}
/* Split the Selectize text & descriptions */
.account-autocomplete.selectize-control .option .text {
  display: block;
}
/* De-emphasize the description in Selectize Account dropdowns */
.account-autocomplete.selectize-control .option .description {
  font-size: 10px;
  display: block;
  font-style: italic;
}
/* Use the Primary color to highlight Selectize dropdown selections */
.selectize-dropdown .active {
  color: #ffffff;
  background-color: #428bca;
}

/* Fix height & spacing of Receipt File & Comments fields */
#entry_form #receipt-field {
  height: 2em;
  margin: 10px;
}
#entry_form #exisitng-receipts-section {
  margin: 10px;
}
#entry_form #comments-field {
  height: 5em;
  margin: 10px;
}

/* Add some space to the botom of the shortcuts alert box */
#shortcuts-box { margin-bottom: 4em; }


/* Print Styles */
@media print {
  /* Remove Hyperlink URLs from the print display */
  a[href]:after {
    content: none !important;
  }
  /* Don't repeat table footers on every page */
  tfoot {
    display: table-row-group;
  }
  /* Center Page Headers */
  h1, h2, h3, h4, h5 {
    text-align: center;
  }
  /* Reset body padding */
  body {
    padding-top: 0px;
  }
  /* All Tabs should show on print, not just the active one */
  .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
  }
}
