{% extends 'entries/approvable_entry.html' %}
{# Extends the approvable entry page to apply to CreditCardEntryForms #}


{% block tour_title %}Help Me Create a Credit Card Entry{% endblock %}
{% block tour_before_amount %}
  <li class='tlypageguide_right' data-tourtarget='select[name="entry-card"]'>
    <div>
      Select the card you used to make your purchase here. If you do not see
      the card in the list, tell an accountant or select a different card and
      add a comment to the <code>Comments</code> field below.
    </div>
  </li>
  <li class='tlypageguide_right' data-tourtarget='input[name="entry-name"]'>
    <div>
      Enter your name here in case we need to clarify something with you
      before approving the entry.
    </div>
  </li>
  <li class='tlypageguide_right' data-tourtarget='input[name="entry-merchant"]'>
    <div>
      Enter the name of the merchant, vendor or company that you made the
      purchase with. The more specific, the better. <code>SellerUsername on
      Amazon Marketplace</code> is much more useful than <code>Amazon</code>.
    </div>
  </li>
{% endblock %}
