{% extends 'site.html' %}
{# This is a base template used by other add/modify entry pages.

It requires the following context variables:

  * verbose_entry_type - e.g. "Transfer Entry" or "General Entry"
  * entry_form - e.g. an instance of "CreditCardEntryForm"
  * transaction_formset - an inline formset related to the entry_form

You must also define `addActions` javascript function within the
entry_specific_js block. This function should take no arguments and should add
dynamic parsley validation & keybindings to the correct fields for the form.
This function is called on page load & when additional rows are added to the
table. See an existing entry template for an example.

#}

{% load core_tags %}


{% block title %}

  {% block title_action %}
    {% if entry_form.instance.id %}
      Edit a
    {% else %}
      Add a
    {% endif %}
  {% endblock %}

  {% block title_entry_type %}
    {{ verbose_entry_type }}
  {% endblock %}

{% endblock %}


{% block page_header %}

  <h1>
    {% block header_action %}
      {% if entry_form.instance.id %}
        Edit a
      {% else %}
        Add a
      {% endif %}
    {% endblock %}

    {% block page_entry_type %}
      {{ verbose_entry_type }}
    {% endblock %}
  </h1>

{% endblock %}


{% block content %}

<!-- Template Form Row for jquery.formset.js -->
{% with transaction_formset|last as form %}
  <div class='hidden'>
    <table>
    <tr id='template-row'>
      {% for field in form.visible_fields %}
        {% if not forloop.last %}
          <td {% if field.errors %}class="has-error form-group"{% else %}class="form-group"{% endif %}>
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              <div class="controls">
                {{ field }}
              </div>
            </td>
        {% else %}
          <td class='text-center form-group' style='vertical-align:middle'></td>
        {% endif %}
      {% endfor %}
    </tr>
    </table>
  </div>
{% endwith %}

<form action="." method="POST" id="entry_form" role="form" enctype='multipart/form-data'>
  {% csrf_token %}

  <!-- Entry Form -->
  <div class="form-horizontal">
  {% for field in entry_form %}
    {% if field.label != 'Comments' and field.label != 'Receipts' %}
      <div class ="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label col-sm-2 col-md-2">{{ field.label }}:</label>
        <div class="col-sm-4 col-md-3 controls">
          {{ field }}
        </div>
        {% if field.errors %}
          {% for error in field.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <!-- Formset Error Alert -->
  {% if transaction_formset.errors%}
    <br />
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-minus-sign"></span><strong> Error!</strong> Please correct the following issues before continuing:
      <ul>
        {% for error in transaction_formset.non_form_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        {% for form in transaction_formset %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Transaction Table -->
  <table class="table table-condensed" id="transaction-table">
    {{ transaction_formset.management_form }}
    {% for form in transaction_formset %}
      <!-- Table Header -->
      {% if forloop.first %}
        <thead>
          <tr>
            {% for field in form.visible_fields %}
              <th {% if forloop.last %}class="text-center"{% endif %}>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
      {% endif %}

      <!-- Table Rows -->
      <tr class="{% cycle main,alt %}{% if form.errors %} danger{% endif %}">
        {% for field in form.visible_fields %}
        <td {% if forloop.last %}class="text-center form-group" style="vertical-align:middle"{% else %}{% if field.errors %}class="has-error form-group"{% else %}class="form-group"{% endif %}{% endif %}>
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            <div class="controls">
              {{ field }}
            </div>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    <!-- Table Footer -->
    <tfoot>
      {% block table_footer %}
      {% endblock %}
    </tfoot>
  </table>

  <!-- Comments Input Box -->
  {% with entry_form.comments as field %}
    <div id='comments-field' class ="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}" class="control-label col-sm-2 col-md-2">{{ field.label }}:</label>
      <div class="col-sm-10 col-md-10 controls">
        {{ field }}
      </div>
      {% if field.errors %}
        {% for error in field.errors %}
          <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
        {% endfor %}
      {% endif %}
    </div>
  {% endwith %}

  <!-- Receipt File Fields -->
  {% if entry_form.receipts %}

    {% with entry_form.receipts as field %}
      <div id="receipt-field" class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label col-sm-2 col-md-2">{{ field.label }}:</label>
        <div class="col-sm-10 col-md-10 controls">
          {{ field }}
        </div>
        {% if field.errors %}
          {% for error in field.errors %}
            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
          {% endfor %}
        {% endif %}
      </div>
    {% endwith %}
    <!-- Existing Receipts -->
    {% if entry_form.instance.receipt_set.exists %}
      <div class='form-group' id='exisitng-receipts-section'>
        <label for='existing-receipts' class='col-sm-2 col-md-2 control-label'>Existing Receipts:</label>
        <div id='existing-receipts' class='col-sm-10 col-md-10 controls'>
          {% receipt_list entry_form.instance show_heading=False %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% block pre_buttons %}{% endblock %}

  <!-- Buttons -->
  <div class="form-group clearfix">
    <button type="submit" name="subbtn" value="Submit" accesskey="s"
            class="btn btn-default">
      <span class="glyphicon glyphicon-ok"></span> Submit
    </button>
    {% block submit_more_button %}
      <button type="submit" name="subbtn" value="Submit & Add More"
              accesskey="a" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Submit &amp; Add More
      </button>
    {% endblock %}

    {% if entry_form.instance.pk %}
      {% block editing_entry_buttons %}
        <!-- Delete Button -->
        <button class="btn btn-danger pull-right" data-target="#deleteConfirmModal"
                data-toggle="modal" type="submit">
          <span class="glyphicon glyphicon-remove"></span> Delete&hellip;
        </button>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1"
             role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteConfirmModalLabel">Confirm Entry and Transaction Deletion</h4>
              </div>
              <div class="modal-body">
                <p>This Entry and it's Transactions will be permanently deleted and
                cannot be recovered. Are you sure you wish to continue?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" value="Delete" id="delete" name="delete">Delete</button>
              </div>
            </div>
          </div>
        </div>

      {% endblock %}
    {% endif %}
  </div>
</form>

<!-- Shortcuts Alert -->
<div id="shortcuts-box" class="alert alert-info">
  <strong>Shortcuts:</strong>
  <ul>
    {% block shortcuts %}
      <li><kbd>Alt-S</kbd> - Submit</li>
      <li><kbd>Alt-A</kbd> - Submit &amp; Add More</li>
    {% endblock %}
  </ul>
  In Firefox, you need to press both <kbd>Alt</kbd> and
  <kbd>Shift</kbd>.
</div>

<!-- PageGuide Help Tour -->
{% block pageguide_tour %}
  <ul id='tlyPageGuide' data-tourtitle='{% block tour_title %}{% endblock %}'>

    {% block tour_before_date %}{% endblock %}
    <li class='tlypageguide_right' data-tourtarget='input[name="entry-date"]'>
      <div>
        Enter the date of your charges here. The format should be
        <code>M/D/YY</code>, like <code>2/29/13</code> or
        <code>4/02/2015</code>. You can press <kbd>Enter</kbd> or
        <kbd>Tab</kbd> to move to the next field.
      </div>
    </li>

    {% block tour_before_table %}{% endblock %}
    <li class='tlypageguide_top' data-tourtarget='#transaction-table thead'>
      <div>
        Enter every item you've purchased into this table, one per row. While
        entering information into the table, you can press <kbd>Tab</kbd> to go
        to the next column or <kbd>Enter</kbd> to go to the next row.
      </div>
    </li>
    <li class='tlypageguide_bottom' data-tourtarget='#transaction-table td .account'>
      <div>
        <p>Use this input to select an Account to charge the item to. You can
        type any part of an Account's Name or Description to filter the items
        shown.  You can use your mouse or arrow keys to navigate the options.
        </p>

        <p>If you're not sure what Accounts you can charge items to, you should
        review the
        <a href="{% url accounts.views.show_accounts_chart 'expenses' %}"
           target='_blank'><em>List of Expense Accounts</em></a> or the
        <a href="{% url accounts.views.show_accounts_chart %}"
           target='_blank'><em>Full Chart of Accounts</em></a>.</p>
      </div>
    </li>
    <li class='tlypageguide_bottom' data-tourtarget='input[name="transaction-0-detail"]'>
      <div>
        Enter a description of the item you purchased here, like
        <code>Bicycle</code> or <code>42 cartons of cigarettes</code>.
      </div>
    </li>

    {% block tour_before_row_delete %}{% endblock %}
    <li class='tlypageguide_bottom' data-tourtarget='a.delete-row'>
      <div>
        If you've made a mistake and you don't feel like clearing out the
        fields, you can press this button to remove the row from your entry.
      </div>
    </li>

    {% block tour_before_row_add %}{% endblock %}
    <li class='tlypageguide_bottom' data-tourtarget='.add-row'>
      <div>
        You can click this link to add more rows to the table if you have more
        items to enter.
      </div>
    </li>

    {% block tour_before_comments %}{% endblock %}
    <li class='tlypageguide_top' data-tourtarget='textarea[name="entry-comments"]'>
      <div>
        If there's anything quirky about your entry or you're not sure about
        something, you can leave a comment for the approver here.
      </div>
    </li>

    {% block tour_before_submit %}{% endblock %}
    <li class='tlypageguide_left' data-tourtarget='button[value="Submit"]'>
      <div>
        Hit this to submit your entry for approval. You'll be redirected to a
        page showing your entry. If you did not attach a receipt to this form,
        you should print out that page, attach a hard copy of the receipt and
        submit both to Accounting.
      </div>
    </li>
    <li class='tlypageguide_right' data-tourtarget='button[value="Submit & Add More"]'>
      <div>
        If you have attached a receipt, you can hit this button to submit the
        entry for approval and then return to this page so that you can create
        another entry. If you haven't attached a receipt, this button will take
        you to the same page as the <code>Submit</code> button.
      </div>
    </li>
    <li class='tlypageguide_right' data-tourtarget='#shortcuts-box'>
      <div>
        These are keyboard shortcuts you can use to quickly submit an entry
        from anywhere on the page.
      </div>
    </li>
    {% block after_shortcuts %}{% endblock %}
  </ul>
{% endblock %}

{% endblock %}


{% block javascript %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/parsley.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/parsley.extend.js"></script>
<script type="text/javascript">
    /*
    Add extra Transaction rows using jQuery-Formsets
    */
    $(function() {
        $('#transaction-table tbody tr').formset({
            prefix: '{{ transaction_formset.prefix }}',
            extraClasses: ['main','alt'],
            addText: 'add more',
            deleteText: '<span class="glyphicon glyphicon-remove"></span>',
            deleteCssClass: 'delete-row',
            added: addActions,
            removed: removeRow,
            formTemplate: '#template-row'
        });
    });
    /*
    Pressing `Enter` on a `.enter-mod` input in a table should move the cursor
    to the next row.

    Pressing `Enter` on an input in the `form-horizontal` class should move the
    cursor to the next row.

    Pressing `Tab` on Selectize autocompletes should move the cursor to the
    next input(instead of only selecting the option).
    */
    assignKeys = function(row) {
      (row || $('table .enter-mod')).each(function() {
        var that = this;
        $(this).keypress(function(e) {
          if (e.which == 13) {
            {% block js_find_next_rows_input %}
              $(that).closest('tr').next().find('.account input').focus();
            {% endblock %}
            e.preventDefault();
          }
        });
      });
      (row || $('.form-horizontal')).find(':input').each(function() {
        var that = this;
        $(this).keypress(function(e) {
          if (e.which == 13) {
            var inputs = $(':input').filter(':visible').filter(':enabled');
            inputs[inputs.index(that) + 1].focus();
            e.preventDefault();
          }
        });
      });
      (row || $('#transaction-table')).find('.selectize-control input').each(function() {
        var that = this;
        $(this).keydown(function(e) {
          if (e.which == 9 && !e.shiftKey) {
            var inputs = $(':input').filter(':visible').filter(':enabled');
            inputs[inputs.index(that) + 1].focus();
            e.preventDefault();
          }
        });
      });
    };

    $(document).ready(function () {
        /* Selectize the pre-existing account fields */
        $('#transaction-table .account-autocomplete').each(function() {
          $(this).selectize(accountSelectizeOptions);
        })
        {% if not request.GET.bank_account %}
          /* Auto-select the Date field */
          $("input[name='entry-date']").focus();
        {% else %}
          /* Auto-select the Bank Account field */
          $("select[name='entry-account']").focus();
        {% endif %}
        /* Initialize the Page Guide */
        tl.pg.init({});
        /* Integrate Parsley.JS validation with Bootstrap3 CSS classes */
        $('#entry_form').parsley({
            successClass: 'has-success',
            errorClass: 'has-error',
            errors: {
                classHandler: function (el) {
                    return $(el).closest('.form-group');
                },
                errorsWrapper: '<ul></ul>',
                errorElem: '<li></li>'
            }
        });
        addActions();
        assignKeys();
    });
</script>
{% block entry_specific_js %}{% endblock %}

{% endblock %}
