{% extends "site.html" %}

{% load core_filters %}


{% block title %}{{ journal_entry.memo|capwords }} - {{ main_transaction.account|capwords }}{% endblock %}


{% block page_header %}
  <h1><span class="hidden-print">{{ journal_entry.get_number }} - </span>{{ journal_entry.memo|capwords }}
    <small class="hidden-print"><a href="{{ main_transaction.account.get_absolute_url }}">{{ main_transaction.account }}</a></small></h1>
  <h3 class="visible-print">{{ journal_entry.get_number }} - {{ main_transaction.account }}</h3>
  <h3 class="hidden-print">{{ journal_entry.date|date:"m/d/Y" }} - Payee: {{ journal_entry.payee }} - Amount: {{ main_transaction.balance_delta|currency }}</h3>
  <h4 class="visible-print">{{ journal_entry.date|date:"m/d/Y" }} - Payee: {{ journal_entry.payee }} - Amount: {{ main_transaction.balance_delta|currency }}</h4>
{% endblock %}


{% block content %}

<div class="hidden-print">
  <strong>Created:</strong> {{ journal_entry.created_at|date:"m/d/Y" }} {% if is_updated %}<strong>Updated:</strong> {{ journal_entry.updated_at|date:"m/d/Y" }} {% endif %}
  <br /><br />

  {% if journal_entry.comments %}
    <strong>Comments:</strong><br />
    <p>{{ journal_entry.comments }}</p>
  {% endif %}

  {% if journal_entry.in_fiscal_year %}
    <a href="{{ journal_entry.get_edit_url }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  {% endif %}
</div>
<br />

<table summary="{{ account.name }} Details" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th scope="col">Account</th>
      <th scope="col">Detail</th>
      <th scope="col" class="text-right">Amount</th>
      <th scope="col" class="text-right">Event</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr class="{% cycle 'main' 'alt' %} clickable">
        <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
        <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.detail|capwords }}</a></td>
        <td class="text-right"><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
        <td class="text-right">{% if transaction.event %}<a href="{{ transaction.event.get_absolute_url }}">{{ transaction.event }}</a>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br /><br />

{% endblock %}
