{% extends "site.html" %}


{% load core_filters %}
{% load core_tags %}
{% load staticfiles %}


{% block title %}General Ledger{% endblock %}


{% block page_header %}
  <h1>General Ledger <small>{{ start_date }} - {{ stop_date }}</small></h1>
{% endblock %}


{% block content %}

<!-- Date Range Form -->
{% date_range_form form %}


<!-- Entry/Transaction Table -->
<table summary="General Ledger" id="accounts_chart" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th colspan="4" class="">Memo</th>
    </tr>
  </thead>
  {% for entry in journal_entries %}
    <tbody>
      <tr class="header clickable">
        <td><a href="{{ entry.get_absolute_url }}">{{ entry.get_number }}</a></td>
        <td><a href="{{ entry.get_absolute_url }}">{{ entry.date|date:"m/d/Y" }}</a></td>
        <td colspan="4" class=""><a href="{{ entry.get_absolute_url }}">{{ entry.memo|capwords }}</a></td>
      </tr>
      <tr>
        <td></td>
        <td>Account</td>
        <td>Detail</td>
        <td class="text-right">Debit</td>
        <td class="text-right">Credit</td>
        <td class="text-right">Event</td>
      </tr>
      {% for transaction in entry.transaction_set.all.select_related %}
        <tr class="{% cycle 'main' 'alt' %} clickable">
          <td></td>
          <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
          <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.detail }}</a></td>
          {% if transaction.balance_delta < 0 %}
            <td class="text-right"><a href="{{ transaction.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
            <td class="text-right"></td>
          {% else %}
            <td class="text-right"></td>
            <td class="text-right"><a href="{{ transaction.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
          {% endif %}
          <td class="text-right">{% if transaction.event %}<a href="{{ transaction.event.get_absolute_url }}">{{ transaction.event }}</a>{% endif %}</td>
        </tr>
      {% endfor %}
      <tr><td colspan="6">&nbsp;</td></tr>
    </tbody>
  {% endfor %}
</table>

<br /><br />

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parsley.extend.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#date_range_form').parsley({
            successClass: 'has-success',
            errorClass: 'has-error',
            errors: {
                classHandler: function (el) {
                    return $(el).closest('.form-group');
                },
                errorsWrapper: '<ul></ul>',
                errorElem: '<li></li>'
            }
        });
    });
</script>
{% endblock %}
