{% extends 'site.html' %}

{% load core_filters %}
{% load staticfiles %}


{% block title %}Reconcile {{ account }}{% endblock %}


{% block page_header %}
  <h1>Reconcile {{ account }}</h1>
{% endblock %}


{% block content %}

{% if transaction_formset %}
  <!-- Info Alert -->
  <div class="alert alert-info">
    <p><span class="glyphicon glyphicon-info-sign"></span> If you edit any
    Entries after visiting this page and you wish to update this page, do not
    refresh the page, but instead submit an invalid form. This will allow you
    to retain the form's data while updating the Entries.</p>
  </div>
{% endif %}


<!-- Statement Form -->
<form action="." method="POST" id="reconcile_form">
{% csrf_token %}

<div class="form-horizontal">
  {% for field in account_form %}
    <div class ="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}" class="control-label col-sm-2">{{ field.label }}:</label>
      <div class="col-sm-3 controls">
        {{ field }}
      </div>
      {% if field.errors %}
        {% for error in field.errors %}
          <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
  <div class ="form-group">
    <label for="last-reconciled" class="control-label col-sm-2">Last Reconciled:</label>
    <div class="col-sm-3">
      <p id="last-reconciled" class="form-control-static">{{ last_reconciled|date:"m/d/Y"|default:"Never" }}</p>
    </div>
  </div>
  <div class ="form-group">
    <label for="reconciled-balance" class="control-label col-sm-2">Reconciled Balance:</label>
    <div class="col-sm-3">
      <p id="reconciled-balance" class="form-control-static">{{ reconciled_balance|currency }}</p>
    </div>
  </div>
  <div class ="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <button type="submit" name="submit" value="Get Transactions" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list"></span> Get Transactions</button>
    </div>
  </div>
</div>

<!-- Transaction Formset -->
{% if transaction_formset %}
  {{ transaction_formset.management_form }}

  <!-- Error Alert -->
  {% if transaction_formset.errors %}
    <br />
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-minus-sign"></span><strong> Error!</strong> Please correct the following issues before continuing:
      <ul>
        {% for error in transaction_formset.non_form_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for form in transaction_formset %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
            {% for field in form %}
              <li>{{ field.errors }}</li>
            {% endfor %}
          {% endif%}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" class="checkall"  name="checkall"/></th>
        <th>Date</th>
        <th>Number</th>
        <th>Memo</th>
        <th class="text-right">Debit</th>
        <th class="text-right">Credit</th>
        <th class="text-right">Event</th>
        <th class="text-right">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for form in transaction_formset %}
        <tr class="{% cycle 'main' 'alt' %} markable">
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <td>{{ form.visible_fields.0.errors.as_ul }}{{ form.visible_fields.0 }}</td>
          <td>{{ form.instance.date|date:"m/d/y" }}</td>
          <td>{{ form.instance.get_entry_number }}</td>
          <td>{{ form.instance.get_memo }}</td>
          {% if form.instance.balance_delta < 0 %}
            <td class="text-right debit">{{ form.instance.balance_delta|currency }}</td>
            <td class="text-right credit"></td>
          {% else %}
            <td class="text-right debit"></td>
            <td class="text-right credit">{{ form.instance.balance_delta|currency }}</td>
          {% endif %}
          <td class="text-right">{{ form.instance.event|default_if_none:"" }}</td>
          <td class="text-right"><a target="_blank" href="{{ form.instance.get_journal_entry.get_edit_url }}">Edit</a></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr><td colspan="8">&nbsp;</td></tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"><strong>Total:</strong></td>
        <td id="debit_total" class="text-right"></td>
        <td id="credit_total" class="text-right"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"><strong>Net Change:</strong></td>
        <td id="net_change" class="text-right">$0.00</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"><strong>Out of Balance:</strong></td>
        <td id="out_of_balance" class="text-right">$0.00</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <div class="form-group">
    <button type="submit" name="submit" value="Reconcile Transactions" class="btn btn-primary btn-sm col-sm-offset-2"><span class="glyphicon glyphicon-book"></span> Reconcile Transactions</button>
  </div>
  {% endif %}
</form><br /><br />

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parsley.extend.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#reconcile_form').parsley({
            successClass: 'has-success',
            errorClass: 'has-error',
            errors: {
                classHandler: function (el) {
                    return $(el).closest('.form-group');
                },
                errorsWrapper: '<ul></ul>',
                errorElem: '<li></li>'
            }
        });
    });
</script>

{% if transaction_formset %}
  <script type="text/javascript">
      $(document).ready(function() {
        /* Recalculate counters on checkbox and Statement Balance changes. */
        $('#reconcile_form input:checkbox').change(function() {recalcCounters()});
        $('#id_account-statement_balance').keyup(function() {recalcCounters()});
        recalcCounters();

        /* Toggle all rows when the checkbox in the Table Header is changed. */
        $('.checkall').change(function () {
          $(this).closest('table').find(':checkbox').prop('checked', this.checked);
          if (this.checked) {
            $(this).closest('table').find('.markable').addClass('danger');
          } else {
            $(this).closest('table').find('.markable').removeClass('danger');
          }
          recalcCounters();
        });

        /* Toggle the 'danger' class on a table body row when the row's
           checkbox is changed.
         */
        $('.markable').find(':checkbox').on("change", function() {
          $(this).closest('tr').toggleClass('danger');
        });

        /* Make entire table rows clickable, so you don't have to aim for the
         * checkbox.
         */
        $('.markable').on('click', function(e) {
          if (e.target.type !== 'checkbox') {
            $(this).find(':checkbox').click();
          }
        });
      });

      /* Recalculate the Credit, Debit & Net Change counters in the table footer. */
      var recalcCounters = function () {
          // Calculate and set the Credit Total
          var credit_sum = 0;
          $(".credit").each(function(){
              if($(this).closest('tr').find('input:checkbox').is(':checked') == true) {
                  var trimmed = $(this).html().replace('$', '').replace(',', '');
                  if(!isNaN(trimmed) && trimmed.length != 0) {
                      credit_sum += parseFloat(trimmed);
                  }
              }
          });
          if (isNaN(credit_sum)) {credit_sum = 0}
          $('#credit_total').text('$' + credit_sum.toFixed(2));

          // Calculate and set the Debit Total
          var debit_sum = 0;
          $(".debit").each(function(){
              if( $(this).closest('tr').find('input:checkbox').is(':checked') == true) {
                  var trimmed = $(this).html().replace('($', '').replace(')', '').replace(',', '');
                  if(!isNaN(trimmed) && trimmed.length != 0) {
                      debit_sum += parseFloat(trimmed);
                  }
              }
          });
          $('#debit_total').text('($' + debit_sum.toFixed(2) + ')');

          // Calculate and set the Net Change
          var net_change = (credit_sum - debit_sum).toFixed(2);
          $('#net_change').text(formatCurrency(net_change));

          var statement_balance = parseFloat($('#id_account-statement_balance').val());
          if (isNaN(statement_balance)) {
              statement_balance = 0;
          }
          statement_balance = convertToCreditBalance(statement_balance);

          var reconciled_balance = convertToCreditBalance({{ reconciled_balance }});

          // Calculate and Set the Out of Balance Amount
          var statement_change = statement_balance - reconciled_balance;
          var out_of_balance = (statement_change - net_change).toFixed(2);
          $('#out_of_balance').text(formatCurrency(out_of_balance));
      };

      // Convert a Value Balance to a Credit Balance for this Account.
      function convertToCreditBalance(value_balance) {
          if ( {{ account.flip_balance|lower }} ) {
              value_balance = -1 * parseFloat(value_balance);
          }
          return value_balance;
      };

      // Display Negative Numbers in Parenthesis.
      function formatCurrency(amount) {
          var result;
          if (amount < 0) {
              result = '($' + Math.abs(amount) + ')';
          } else if (amount > 0) {
              result = '$' + amount;
          } else {
              result = '$0.00';
          }
          return result
      };
  </script>
{% endif %}

{% endblock %}
