{% extends "site.html" %}

{% load core_filters %}


{% block title %}
Chart of Accounts{% if header %} - {{ header.name|capwords }}{% endif %}
{% endblock %}


{% block page_header %}
  <h1>Chart of Accounts <small class="hidden-print">{% if header %}{{ header.name|capwords }}{% endif %}</small></h1>
  {% if header %}
    <h4 class="visible-print">{{ header.name|capwords }}</h4>
  {% endif %}

  <!-- Breadcrumbs -->
  {% if header %}
    <ol class="breadcrumb hidden-print">
      <li><a href="{% url accounts.views.show_accounts_chart %}">Chart of Accounts</a></li>
      {% for ancestor in header.get_ancestors %}
        <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name|capwords }}</a></li>
      {% endfor %}
      <li class="active">{{ header.name|capwords }}</li>
    </ol>
  {% endif %}
{% endblock %}


{% block content %}

{% if not header %}
  <!-- Tabs -->
  <ul class="nav nav-tabs hidden-print">
    {% for root_node in root_nodes %}
      <li><a href="#{{ root_node.slug }}" data-toggle="tab">{{ root_node.name|capwords }}</a></li>
    {% endfor %}
  </ul>
{% endif %}


<!-- Panes -->
<div class="tab-content">
  {% for root_node in root_nodes %}
    <div class="tab-pane fade {% if forloop.first %}active in{% endif %}" id="{{ root_node.slug }}">
      <table summary="Chart of Accounts" id="accounts_chart" class="table table-hover table-condensed">
        <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-right">Balance</th>
        </tr>
        </thead>
          <tbody>
          {% for node in root_node.descendants %}
            <tr class="header clickable">
              <td><a href="{{ node.get_absolute_url }}">{{ node.get_full_number }}</a></td>
              <td>{{ node.level|int_to_tabs}}{{ node.name|capwords }}</td>
              <td>{{ node.description }}</td>
              <td class="text-right">{{ node.get_account_balance|currency }}</td>
            </tr>
            {% for account in node.account_set.all %}
              <tr class="{% cycle 'main' 'alt' %} clickable">
                <td><a href="{{ account.get_absolute_url }}">{{ account.get_full_number }}</a></td>
                <td >{{ account.level|int_to_tabs}}{{ account.name|capwords }}</td>
                <td >{{ account.description }}</td>
                <td class="text-right">{{ account.get_balance|currency}}</td>
              </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
      </table>
  </div>
  {% endfor %}
</div>

{% endblock %}
