{% extends "site.html" %}

{% load core_filters %}
{% load core_tags %}
{% load staticfiles %}


{% block title %}{{ account.name|capwords }} Details{% endblock %}


{% block page_header %}
  <h3 class="visible-print"></h3>
  <h1><span class="hidden-print">#{{ account.get_full_number }} </span>{{ account.name|capwords }} <small>{{ account.get_balance|currency }}</small></h1>
  <h4 class="visible-print">Account #{{ account.get_full_number }}<br />
    {{ start_date }} to {{ stop_date }}</h4>

<!-- Breadcrumbs -->
  <ol class="breadcrumb hidden-print">
    <li><a href="{% url accounts.views.show_accounts_chart %}">Chart of Accounts</a></li>
    {% for ancestor in account.parent.get_ancestors %}
      <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.name|capwords }}</a></li>
    {% endfor %}
    <li><a href="{{ account.parent.get_absolute_url }}">{{ account.parent.name|capwords }}</a></li>
    <li class="active">{{ account.name|capwords }}</li>
  </ol>
{% endblock %}


{% block post_header %}
  <!-- Buttons -->
  <div class="hidden-print">
    {% if account.bank %}<a href="{% url accounts.views.bank_journal account.slug %}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-list"></span> Bank Journal</a>{% endif %}
    <a href="{% url accounts.views.reconcile_account account_slug=account.slug %}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-book"></span> Reconcile</a>
    <a href="{% url admin:accounts_account_change account.id %}" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  </div>
  <br />
{% endblock %}


{% block content %}

<div class="hidden-print">
  <!-- Account Information -->
  {% if account.last_reconciled %}
    <p><strong>Last Reconciled:</strong> {{ account.last_reconciled|date:"m/d/Y" }}</p>
  {% endif %}

  <!-- Date Range Form -->
  {% date_range_form form %}
</div>


<table summary="{{ account.name }} Details" id="accounts_chart" class="table table-hover table-condensed">
  <thead>
    <tr>
        <th scope="col">Number</th>
        <th scope="col">Date</th>
        <th scope="col">Memo</th>
        <th scope="col">Detail</th>
        <th scope="col" class="text-right">Debit</th>
        <th scope="col" class="text-right">Credit</th>
        <th scope="col" class="text-right">Event</th>
        {% if show_balance %}
            <th scope="col" class="text-right">Balance</th>
        {% endif %}
    </tr>
  </thead>
  <!-- Transactions Table -->
  <tbody>
    {% for transaction in transactions %}
      <tr class="{% cycle 'main' 'alt' %} clickable">
      <td><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.get_entry_number }}</a></td>
      <td><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.date|date:"m/d/Y" }}</a></td>
      <td><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.get_memo|capwords }}</a></td>
      <td><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.detail|capwords }}</a></td>
      {% if transaction.balance_delta < 0 %}
        <td class="text-right"><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
        <td class="text-right"></td>
      {% else %}
        <td class="text-right"></td>
        <td class="text-right"><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
      {% endif %}
      <td class="text-right">
        {% if transaction.event %}
        <a href="{{ transaction.event.get_absolute_url }}">{{ transaction.event }}</a>
        {% endif %}
      </td>
      {% if show_balance %}
        <td class="text-right"><a href="{{ transaction.get_journal_entry.get_absolute_url }}">{{ transaction.final_balance|currency }}</a></td>
      {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  <!-- Balance and Change Counter -->
  <tfoot>
    <tr><td colspan="{% if show_balance %}8{% else %}7{% endif %}">&nbsp;</td></tr>
    <tr>
      {% if show_balance %}
        <td class="text-right" colspan="2"><strong>Start Balance:</strong></td>
        <td>{{ start_balance|currency }}</td>
      {% else %}
          <td colspan="3"></td>
      {% endif %}
      <td class="text-right"><strong>Totals:</strong></td>
      <td class="text-right">{{ debit_total|currency }}</td>
      <td class="text-right">{{ credit_total|currency }}</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      {% if show_balance %}
        <td class="text-right" colspan="2"><strong>End Balance:</strong></td>
          <td>{{ end_balance|currency }}</td>
      {% else %}
          <td colspan="3"></td>
      {% endif %}
        <td class="text-right"><strong>Net Change:</strong></td>
        {% if net_change < 0 %}
          <td class="text-right">{{ net_change|currency }}</td>
          <td class="text-right"></td>
        {% else %}
          {% if net_change > 0 %}
            <td class="text-right"></td>
            <td class="text-right">{{ net_change|currency }}</td>
          {% else %}
            <td class="text-right">$0.00</td>
            <td class="text-right">$0.00</td>
          {% endif %}
        {% endif %}
        <td></td>
        {% if show_balance %}
          <td></td>
        {% endif %}
    </tr>
  </tfoot>
</table>
<br /><br />

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parsley.extend.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        /* Automatically Select the Start Date Field */
        $("input#id_start_date").focus();
        /* Validate the date range form w/ parsley */
        $('#date_range_form').parsley({
            successClass: 'has-success',
            errorClass: 'has-error',
            errors: {
                classHandler: function (el) {
                    return $(el).closest('.form-group');
                },
                errorsWrapper: '<ul></ul>',
                errorElem: '<li></li>'
            }
        });
    });
</script>
{% endblock %}
