{% extends "site.html" %}

{% load core_filters %}
{% load core_tags %}
{% load staticfiles %}


{% block title %}{{ account.name|capwords }} Journal{% endblock %}


{% block page_header %}
  <h1>Bank Journal - {{ account.name|capwords }} <small>{{ start_date }} - {{ stop_date }}</small></h1>
{% endblock %}


{% block content %}

<!-- Date Range Form -->
{% date_range_form form %}

<table summary="Bank Journal for {{ account.name }}" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Account</th>
      <th scope="col">Detail</th>
      <th scope="col" class="text-right">Debit</th>
      <th scope="col" class="text-right">Credit</th>
      <th scope="col" class="text-right">Event</th>
    </tr>
  </thead>
  <!-- Entry/Transaction Table -->
  <tbody>
    {% for transaction in transactions %}
      <tr class="header clickable">
        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.get_entry_number }}</a></td>
        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.date|date:"m/d/Y" }}</a></td>
        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.get_memo|capwords }}</a></td>
        {% if transaction.balance_delta < 0 %}
            <td class="text-right"><a href="{{ transaction.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
            <td class="text-right"></td>
        {% else %}
            <td class="text-right"></td>
            <td class="text-right"><a href="{{ transaction.get_absolute_url }}">{{ transaction.balance_delta|currency }}</a></td>
        {% endif %}
        <td></td>
      </tr>
      {% for account_transaction in transaction.get_journal_entry.transaction_set.all.select_related %}
        <tr class="{% cycle 'main' 'alt' %} clickable">
          <td></td>
          <td><a href="{{ account_transaction.account.get_absolute_url }}">{{ account_transaction.account }}</a></td>
          <td><a href="{{ account_transaction.account.get_absolute_url }}">{{ account_transaction.detail }}</a></td>
          {% if account_transaction.balance_delta < 0 %}
            <td class="text-right"><a href="{{ account_transaction.account.get_absolute_url }}">{{ account_transaction.balance_delta|currency }}</a></td>
            <td class="text-right"></td>
          {% else %}
            <td class="text-right"></td>
            <td class="text-right"><a href="{{ account_transaction.account.get_absolute_url }}">{{ account_transaction.balance_delta|currency }}</a></td>
          {% endif %}
          <td class="text-right">{% if transaction.event %}<a href="{{ transaction.event.get_absolute_url }}">{{ transaction.event }}</a>{% endif %}</td>
        </tr>
      {% endfor %}
      <tr><td colspan="6">&nbsp;</td></tr>
    {% endfor %}
  </tbody>
</table><br /><br />

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parsley.extend.js' %}"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#date_range_form').parsley({
            successClass: 'has-success',
            errorClass: 'has-error',
            errors: {
                classHandler: function (el) {
                    return $(el).closest('.form-group');
                },
                errorsWrapper: '<ul></ul>',
                errorElem: '<li></li>'
            }
        });
    });
</script>
{% endblock %}
